<%- include('../partials/html-head') %> <%- include('../partials/nav') %>

<section>
  <h1>Your question was...</h1>
  <p></p>

  <% if (user) { %>
  <h2><%=question %></h2>
  <br />
  
  <div>
    <element>
  <img src="/images/cards/<%= randomCard1.img %>" style="width:30em; height:45em;" display: flex/>
  <h3>Card: <%= randomCard1.name %></h3>
  <p>Number: <%= randomCard1.number %></p>
  <p>Arcana: <%= randomCard1.arcana %></p>
  <br />
    </element>
    <element>
  <img src="/images/cards/<%= randomCard2.img %>" style="width:30em; height:45em;" />
  <h3>Card: <%= randomCard2.name %></h3>
  <p>Number: <%= randomCard2.number %></p>
  <p>Arcana: <%= randomCard2.arcana %></p>
  <br />
    </element>
    <element>
  <img src="/images/cards/<%= randomCard3.img %>" style="width:30em; height:45em;" />
  <h3>Card: <%= randomCard3.name %></h3>
  <p>Number: <%= randomCard3.number %></p>
  <p>Arcana: <%= randomCard3.arcana %></p>
  <br />
   </element>
  </div>
  

  <form action="/newReading/addComment" method="POST">
    <input type="text" name="profileId" value="<%= user.profile._id %>" hidden>
    <input type="text" name="question" value="<%= question%>" hidden>
    <input type="text" name="img" value="<%= randomCard1.img %>" hidden>
    <input type="text" name="name" value="<%= randomCard1.name %>" hidden>
    <input type="text" name="number" value="<%= randomCard1.number %>" hidden>
    <input type="text" name="img" value="<%= randomCard2.img %>" hidden>
    <input type="text" name="name" value="<%= randomCard2.name %>" hidden>
    <input type="text" name="number" value="<%= randomCard2.number %>" hidden>
    <input type="text" name="img" value="<%= randomCard3.img %>" hidden>
    <input type="text" name="name" value="<%= randomCard3.name %>" hidden>
    <input type="text" name="number" value="<%= randomCard3.number %>" hidden>
    
    <label>
      Comments: 
      <textarea rows="4" cols="50" type="text" name="comment" result="result" autocomplete="off" required/></textarea>
    </label>
    <br />
    <button type="submit">Save</button>
  </form>
  <% } %>
</section>


  
<%- include('../partials/footer') %>
