<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/pastReadings/edit.css ">
<%- include('../partials/nav') %>

<section>
  <h1>Edit My Comments </h1>
  <h2>Remembering the Question: <%=reading.question %></h2>
  <form action="/pastReadings/<%= reading._id %>?_method=PUT" method="POST">
    <label>
      <textarea rows="4" cols="50"
        placeholder="Enter new comments"
        
        type="text"
        name="comment"
        value="<%= reading.comment %>" 
        autocomplete="off"
      ></textarea>
    </label>
    <button id="updateButton" type="submit">Update</button>
   
  </form>
</section> 

<%- include('../partials/footer') %>

