<%- include('../partials/html-head') %> 
<%- include('../partials/nav') %>

<section>
  <h1>No readings yet!</h1>

  <ul>
    <% reading.forEach(data => { %>
    <p><%= data._id %></p>
    <p><%= data.question %></p>
    <p><%= data.card1.img %></p>
    <p><%= data.card2.img %></p>
    <p><%= data.card3.img %></p>
    <p><%= data.comment %></p>

    <% }) %>
  </ul>
</section>

<%- include('../partials/footer') %>
