<%- include('../partials/html-head') %> <%- include('../partials/nav') %>

<section>
  <h1>All readings</h1>
   <% if (readings.length) { %> 
    <ul>
      <% readings.forEach(reading => { %>
      <li> 
        <a href="/pastReadings/<%=reading._id%>"> <%= reading.question %> </a>
      </li>
        <% }) %>
    </ul>
   
    <% } else { %> 
    <h2>You don't have a reading yet...</h2>
    <% } %>

<%- include('../partials/footer') %>
